

.navbar{
    width: 100%;
    height : 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    /* background: var(--color-blackish); */
    /* background: transparent; */
    /* box-shadow: 10px 1px 3px rgba(68, 68, 68, 0.884); */
    margin: 0;
    /* z-index: 10; */
    

  }
  
  .navCon{
    width: 100%;
    height: 100%;
    max-width: 1240px;
    display: inline-flex;
    flex-direction: row;

    /* justify-content: space-between; */
    /* background: var(--navBg); */

    align-items: center;
    padding:5px 20px;
    margin: 0 auto;
  }
  
  .navbar .Navlogo{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    font-size: 35px;
    font-family: "Anta", sans-serif;
    font-weight: 700;
    color: var(--Blackish);
    background: transparent;

  }
  
  .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .navbar .logo{
    z-index: 1000;
    width: max-content;
    height: 50px;
    cursor: pointer;
    

  }

  /* .navbar .logo .bigE{
    height: max-content;
    padding: 2px 6px;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 3px solid;
    border-image: linear-gradient(225deg, #36eef1 0%, #FC00FF 100%);
  border-image-slice: 1;
  }

  .navbar .logo .logoText{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    color: #fff;
  }

  .navbar .logo .logoText .logoName{
    font-size: 16px;
    line-height: 1;
    font-weight: normal;
    color: #fff;
  }
  .navbar .logo .logoText .logoTagline{
    
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    color: #fff;
  }
 */

  
  
  .navlinks{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
    gap: 40px;
    /* background: var(--navBg); */
    
    margin-left: 50px;
}
.navlinks a{
    font-family: poppins;
    text-decoration: none;
    color: var(--Blackish);
    background: transparent;
    font-size: 18px;

 
  
  }
  
  
  
  
  .btns{
    margin-left: auto;  
  }
  
  
  .userImg{
    margin-left: auto;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    border: 2px solid #fff;
    
    
    
  }
  .userImg img{
    width: inherit;
    height: inherit;
    object-position: top;
    object-fit:cover ;  
  }
  
  
  .hamburger {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 9999;
  
  }
  
  .line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: var(--color-blackish);
    margin: 3px;
    transition: all 0.3s ease;
  }
  
  .open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .open .line2 {
    opacity: 0;
  }
  
  .open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  
  .drawerbtn{
    display: none !important;
  }

  
.btn1{
    position: relative;
    width: 120px;
    text-align: center;
    cursor: pointer;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 12px;
    font-size: 14px;
    border: 4px solid transparent;
    outline: none;
    /* background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%) border-box; */
    background: var(--color-blue);
  }
  
  
.btn {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: 1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    /* background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% ); */
    background: var(--color-blue);

    z-index: -1;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .btn::after {
    content: "";
    z-index: -9;
    position: absolute;
    inset: 0;
    /* background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% ); */
    background: var(--color-blue);

    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .btn:hover::after {
    filter: blur(30px);
  }
  
  .btn:hover::before {
    transform: rotate(-180deg);
  }
  
  .btn:active::before {
    scale: 0.7;
  }
  
  
  
  
  
  .three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
  @media (max-width:800px) {
    /* .navlinks,.btn{
      display :none;
    } */
  
  
    .hamburger {
      display: flex;
    }
    .navbar{
      height: 70px;
    }
    .navCon{
      padding:20px ;
    }
    .navlinks {
    
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      margin: 0;
      /* background:  0% 0% / cover no-repeat, 0% 0% / 100% 100% rgb(11, 11, 12); */
      background: var(--color-primary);
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      font-size: 18px;
      padding: 100px 20px 0 ;
      gap: 30px;
      z-index: 999;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
    }
    .drawerbtn{
  
      display: block !important;
        height: 60px;
      cursor: pointer;
      width: 100%  !important;
      text-align: center;
    }

    

/* 

.drawerbtn::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: calc(100% + 8px) !important;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -1;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drawerbtn::after {
  content: "";
  z-index: -9;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}


   */
  
  
    .navlinks.open {
      display: flex;
      transform: translateY(0);
    }
  
  
  }
  
  


  @media (max-width: 520px) {
  
    .navCon{
    justify-content: space-between;
      
    }
  .btns{
    display: none !important;
  }
  }
  
  